html {
    font-family: "Product Sans";
    font-weight: 200;
    font-size: 90%;
    color: #111111;
}

.contents {
    display: flex;
}

.lower_contents {
    display: flex;
}

.sentiment {
    margin-left: 200px;
}

.graph {
    width: 70%;
}

.news {
    width: 50%;
    margin-top: 10px;
}